
<div class="container">

  
  <select id="instrument" name="instrument" #dropdown>
  
    <option value="guitars">Guitars</option>
    <option value="bass">Bass</option>
    <option value="piano">Piano</option>
    <option value="violins">Violins</option>
    <option value="drums">Drums</option>
    <option value="vocals">Vocals</option>
    <option value="recording">Recording</option>
    <option value="speakers">Speakers</option>
    <option value="mixers">Mixers</option>
    
  </select>
  <button type="button" class="button" (click)="queryInstruments(dropdown.value)">Search</button>
  
</div>


<div class="row">
  <div class="column" style="background-color:#aaa;">
    <div class="top">
      <h2 class="txt">Guitars</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/1656415/pexels-photo-1656415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    <div class="top">
        <h2 class="txt">Bass</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/1213918/pexels-photo-1213918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    <div class="top">
        <h2 class="txt">Piano</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/191240/pexels-photo-191240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    
  </div>
  <div class="column" style="background-color:#bbb;">
    <div class="top">
      <h2 class="txt">Violins</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/34221/violin-musical-instrument-music-sound.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    <div class="top">
        <h2 class="txt">Drums</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/2167108/pexels-photo-2167108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    <div class="top">
        <h2 class="txt">Vocals</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/675960/mic-music-sound-singer-675960.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="Trulli" width="500" height="750">
  </div>
  <div class="column" style="background-color:#ccc;">
    <div class="top">
      <h2 class="txt">Recording</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/2049411/pexels-photo-2049411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    <div class="top">
        <h2 class="txt">Speakers</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/373638/pexels-photo-373638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
    <div class="top">
        <h2 class="txt">Mixers</h2>
    </div>
    <img class = "img" src="https://images.pexels.com/photos/1436141/pexels-photo-1436141.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Trulli" width="500" height="750">
  </div>
</div>

<div>
    <table class="bottomcontainer">
        <tr>
          <th>Model</th>
          <th>Color</th>
          <th>Kind</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let instrument of instruments"> <!-- use ngFor to iterate through array of instruments and print instrument attributes-->
          <td>{{ instrument.model }}</td>
          <td>{{ instrument.color }}</td>
          <td>{{ instrument.kind }}</td>
          <td>${{ instrument.price }}</td>
        </tr>
    </table>
  
</div>