* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 2550px; /* Should be removed. Only for demonstration */
    text-align: center;

    
  }

  .search {
    margin-bottom:50px;
  }

  /* drop down bar */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #fdfdfd;
    padding: 20px;
    width:100%;
    margin-bottom:20px;
    height: 50%;
  }

  .button {
    background-color: rgb(12, 2, 31);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width:28%;
    margin-left:805px;
    height:80%;
  }

  #instrument {
    width:  270%;
  }

  .bottomcontainer{
    border-radius: 5px;
    background-color: #fdfdfd;
    padding: 20px;
    width:100%;
    margin-bottom:70px;
    margin-top: 30px;
    height: 50%;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .txt {
    padding-left: 50px;
    padding-bottom:0px;
  }

  .registerbtn {
    background-color: rgb(17, 6, 56);
    color: white;

    padding: 16px 100px;
    margin: 8px 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 25px;
    font-size: 20px;
    display: inline-block;
  }

  .top {
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* search bar attributes */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(2, 19, 34);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }