<div class="row">
  
    <div class="column" style="background-color:#bbb;">
        <h2 class="a">Guitar Lessons</h2>
        <div class="place1">
          <img src="https://images.pexels.com/photos/1407322/pexels-photo-1407322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width=500 height=400 >
        </div>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Vocals</h2>
      <div class="place1">
        <img src="https://images.pexels.com/photos/164829/pexels-photo-164829.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width=500 height=400 >
      </div>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Drum Basics</h2>
      <div class="place1">
        <img src="https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" width=500 height=400 >
      </div>
    </div>
    <div class="instruments">
        <form action="/action_page.php">
          <div class="row">
            
            <div class="col-75">
              
              <input type="text" placeholder="Enter an instrument you would like to take lessons in" name="psw-repeat" required #type1>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="subject">Leave us a note</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px" required #message></textarea>
              <button (click)="submitLessons(type1.value, message.value)" type="submit" class="registerbtn">Submit</button>
            </div>
          </div>
        </form>
      </div>
</div>

  

