
  <div class="home">
    <div class="body">
        <h3>Contact Form</h3>
        <form action="body">
            <div class="container">
              <p>Please fill in this form to create an account.</p>
              <hr>
          

          
              <label for="psw"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="psw" required #email>
          
              <label for="psw-repeat"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="psw-repeat" required #name>
              <hr>
              <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          
              <button (click)="submitCustomer(email.value, name.value)" type="submit" class="registerbtn">Register</button>
            </div>
            
            <div class="container signin">
              <p>Already have an account? <a href="#">Sign in</a>.</p>
            </div>
          </form>
    </div>
  </div>
